In [1]:
import pandas as pd

In [2]:
!pip install datasets

Collecting datasets
  Downloading datasets-3.5.1-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets) (3.18.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (18.1.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.11/dist-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from datasets) (3.11.15)
Requirement already satisfied: huggingface-hub>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.30.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (6.4.3)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.20.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.24.0->datasets) (4.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2025.4.26)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.5.1-py3-none-any.whl (491 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 491.4/491.4 kB 8.3 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 6.5 MB/s eta 0:00:00
Downloading fsspec-2025.3.0-py3-none-any.whl (193 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.6/193.6 kB 11.0 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.5/143.5 kB 6.6 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.8/194.8 kB 7.4 MB/s eta 0:00:00
Installing collected packages: xxhash, fsspec, dill, multiprocess, datasets
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2025.3.2
    Uninstalling fsspec-2025.3.2:
      Successfully uninstalled fsspec-2025.3.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gcsfs 2025.3.2 requires fsspec==2025.3.2, but you have fsspec 2025.3.0 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cublas-cu12==12.4.5.8; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cublas-cu12 12.5.3.2 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-cupti-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-cupti-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-nvrtc-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-nvrtc-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-runtime-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-runtime-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cudnn-cu12 9.3.0.75 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cufft-cu12==11.2.1.3; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cufft-cu12 11.2.3.61 which is incompatible.
torch 2.6.0+cu124 requires nvidia-curand-cu12==10.3.5.147; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-curand-cu12 10.3.6.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusolver-cu12==11.6.1.9; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusolver-cu12 11.6.3.83 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusparse-cu12==12.3.1.170; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusparse-cu12 12.5.1.3 which is incompatible.
torch 2.6.0+cu124 requires nvidia-nvjitlink-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nvjitlink-cu12 12.5.82 which is incompatible.
Successfully installed datasets-3.5.1 dill-0.3.8 fsspec-2025.3.0 multiprocess-0.70.16 xxhash-3.5.0

In [3]:
from datasets import load_dataset

In [4]:
data = load_dataset('lukebarousse/data_jobs')

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

README.md:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [5]:
df = data['train'].to_pandas()

In [6]:
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [8]:
df['job_posting_month'] = df.job_posted_date.dt.month

In [9]:
df.count()

job_title_short          785741
job_title                785740
job_location             784696
job_via                  785733
job_schedule_type        773074
job_work_from_home       785741
search_location          785741
job_posted_date          785741
job_no_degree_mention    785741
job_health_insurance     785741
job_country              785692
salary_rate               33067
salary_year_avg           22003
salary_hour_avg           10662
company_name             785723
job_skills               668704
job_type_skills          668704
job_posting_month        785741
dtype: int64

**Analying missing value**

In [11]:
df[df.job_title.isna()]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posting_month
784492,Data Engineer,None,None,via Jobs In France - Mustakbil.com,None,False,Saint Lucia,2023-12-14 07:32:05,False,False,None,None,NaN,NaN,None,None,None,12

In [16]:
df[(df.job_title_short == 'Data Engineer') & (df.job_via == 'via Jobs In France - Mustakbil.com') & (df.search_location == 'Saint Lucia')]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posting_month
784492,Data Engineer,None,None,via Jobs In France - Mustakbil.com,None,False,Saint Lucia,2023-12-14 07:32:05,False,False,None,None,NaN,NaN,None,None,None,12

In [17]:
df = df.dropna(subset = "job_title")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785740 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785740 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785732 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785740 non-null  bool
 6   search_location        785740 non-null  object
 7   job_posted_date        785740 non-null  datetime64[ns]
 8   job_no_degree_mention  785740 non-null  bool
 9   job_health_insurance   785740 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
 17  job_posting_month      785740 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(2), int32(1), object(11)
memory usage: 95.2+ MB

In [29]:
df.describe()

,job_posted_date,salary_year_avg,salary_hour_avg,job_posting_month
count,785740,22003.000000,10662.000000,785740.000000
mean,2023-06-25 16:01:52.986074880,123286.274072,47.016598,6.305531
min,2023-01-01 00:00:04,15000.000000,8.000000,1.000000
25%,2023-03-20 10:05:47.500000,90000.000000,27.500000,3.000000
50%,2023-06-29 06:11:13.500000,115000.000000,45.980000,6.000000
75%,2023-09-27 01:01:11.500000,150000.000000,61.159996,9.000000
max,2023-12-31 23:59:58,960000.000000,391.000000,12.000000
std,NaN,48312.449482,21.890738,3.525405

In [30]:
df.salary_year_avg.min()

15000.0

Index value

In [34]:
min_salary = df.salary_year_avg.idxmin()

In [33]:
df[df.index == 665729]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posting_month
665729,Data Engineer,Data Engineer - Hadoop,Brazil,via LinkedIn,Full-time,False,Brazil,2023-12-09 10:05:30,True,False,Brazil,year,15000.0,NaN,Net2Source Inc.,"['java', 'python', 'oracle', 'aws', 'hadoop', ...","{'cloud': ['oracle', 'aws'], 'libraries': ['ha...",12

In [35]:
df.iloc[min_salary]

job_title_short                                              Data Engineer
job_title                                           Data Engineer - Hadoop
job_location                                                        Brazil
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Brazil
job_posted_date                                        2023-12-09 10:05:30
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                         Brazil
salary_rate                                                           year
salary_year_avg                                                    15000.0
salary_hour_avg                                                        NaN
company_name                                               Net2Source Inc.
job_skills               ['java', 'python', 'oracle', 'aws', 'hadoop', ...
job_type_skills          {'cloud': ['oracle', 'aws'], 'libraries': ['ha...
job_posting_month                                                       12
Name: 665729, dtype: object

In [36]:
df['job_title_short'].unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [37]:
df['job_title_short'].value_counts()

job_title_short
Data Analyst                 196075
Data Engineer                186240
Data Scientist               172286
Business Analyst              49063
Software Engineer             44929
Senior Data Engineer          44563
Senior Data Scientist         36957
Senior Data Analyst           29216
Machine Learning Engineer     14080
Cloud Engineer                12331
Name: count, dtype: int64

In [38]:
df.groupby('job_title_short')['salary_year_avg'].min()

job_title_short
Business Analyst             16500.0
Cloud Engineer               42000.0
Data Analyst                 25000.0
Data Engineer                15000.0
Data Scientist               27000.0
Machine Learning Engineer    30000.0
Senior Data Analyst          30000.0
Senior Data Engineer         35000.0
Senior Data Scientist        45000.0
Software Engineer            28000.0
Name: salary_year_avg, dtype: float64

In [ ]:
df.groupby('job_title_short')['salary_year_avg'].median()

In [39]:
df.groupby(['job_title_short','job_country'])['salary_year_avg'].median()

job_title_short    job_country
Business Analyst   Afghanistan        NaN
                   Albania            NaN
                   Algeria            NaN
                   Angola             NaN
                   Argentina      71100.0
                                   ...
Software Engineer  Venezuela          NaN
                   Vietnam        53600.0
                   Yemen              NaN
                   Zambia             NaN
                   Zimbabwe           NaN
Name: salary_year_avg, Length: 1387, dtype: float64

In [41]:
df.groupby(['job_title_short'])['salary_year_avg'].agg(['min','max'])

                               min       max
job_title_short
Business Analyst           16500.0  387460.0
Cloud Engineer             42000.0  280000.0
Data Analyst               25000.0  650000.0
Data Engineer              15000.0  525000.0
Data Scientist             27000.0  960000.0
Machine Learning Engineer  30000.0  325000.0
Senior Data Analyst        30000.0  425000.0
Senior Data Engineer       35000.0  425000.0
Senior Data Scientist      45000.0  890000.0
Software Engineer          28000.0  375000.0

## Analyze Data salary of Australia

In [44]:
df.job_country.value_counts().head(20)

job_country
United States     206292
India              51088
United Kingdom     40375
France             39922
Germany            27694
Spain              25100
Singapore          23696
Sudan              21781
Netherlands        20631
Italy              17013
Canada             16029
Mexico             15139
Poland             14793
Portugal           14508
Australia          12955
South Africa       12414
Belgium            12078
Philippines        11786
Ireland            11162
Switzerland         9924
Name: count, dtype: int64

In [45]:
Aus_Job = df[df.job_country == 'Australia']

In [47]:
Aus_Job.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12955 entries, 90 to 785687
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        12955 non-null  object
 1   job_title              12955 non-null  object
 2   job_location           12954 non-null  object
 3   job_via                12955 non-null  object
 4   job_schedule_type      12849 non-null  object
 5   job_work_from_home     12955 non-null  bool
 6   search_location        12955 non-null  object
 7   job_posted_date        12955 non-null  datetime64[ns]
 8   job_no_degree_mention  12955 non-null  bool
 9   job_health_insurance   12955 non-null  bool
 10  job_country            12955 non-null  object
 11  salary_rate            160 non-null    object
 12  salary_year_avg        74 non-null     float64
 13  salary_hour_avg        81 non-null     float64
 14  company_name           12955 non-null  object
 15  job_skills             11046 non-null  object
 16  job_type_skills        11046 non-null  object
 17  job_posting_month      12955 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(2), int32(1), object(11)
memory usage: 1.6+ MB

In [50]:
Aus_Job[Aus_Job['salary_year_avg'].notna()]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posting_month
26330,Senior Data Scientist,Senior Data Scientist,"Melbourne VIC, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-03-01 13:25:22,False,False,Australia,year,157500.0,NaN,Block,"['go', 'snowflake', 'numpy', 'pandas', 'tensor...","{'cloud': ['snowflake'], 'libraries': ['numpy'...",3
27637,Data Engineer,Data Engineer - FinOps,"Sydney NSW, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-03-27 13:25:00,True,False,Australia,year,147500.0,NaN,Atlassian,"['sql', 'python', 'atlassian']","{'other': ['atlassian'], 'programming': ['sql'...",3
42522,Data Analyst,Data Analyst / Engineer,"Sydney NSW, Australia",via LinkedIn,Full-time,False,Australia,2023-06-29 06:35:56,True,False,Australia,year,135000.0,NaN,Perigon Group,"['sql', 'snowflake', 'tableau']","{'analyst_tools': ['tableau'], 'cloud': ['snow...",6
51626,Data Scientist,Data Scientist (Brain-Computer Interface Team),Anywhere,via Wellfound,Full-time,True,Australia,2023-12-20 06:16:49,False,False,Australia,year,160000.0,NaN,AE Studio,"['python', 'aws', 'tensorflow', 'pytorch', 'gi...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",12
56804,Machine Learning Engineer,Senior Machine Learning Engineer,"Melbourne VIC, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-07-13 06:15:50,False,False,Australia,year,166000.0,NaN,Block,"['java', 'javascript', 'python', 'kotlin', 'ru...","{'databases': ['redis', 'cassandra', 'mysql'],...",7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774527,Cloud Engineer,Customer Success Engineer,Anywhere,via AngelList,Full-time,True,Australia,2023-01-26 02:05:04,True,False,Australia,year,110000.0,NaN,Bigeye,"['sql', 'snowflake', 'redshift', 'bigquery', '...","{'analyst_tools': ['looker', 'tableau'], 'clou...",1
775854,Machine Learning Engineer,Machine Learning Engineer,"Sydney NSW, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-01-10 01:19:54,False,False,Australia,year,166000.0,NaN,Anduril Industries,"['python', 'airflow', 'docker']","{'libraries': ['airflow'], 'other': ['docker']...",1
777181,Data Engineer,Machine Learning/Data Engineer,Anywhere,via LinkedIn,Full-time,True,Australia,2023-10-23 05:27:08,False,False,Australia,year,120000.0,NaN,Red Marker,"['python', 'sql', 'pandas', 'numpy', 'nltk', '...","{'libraries': ['pandas', 'numpy', 'nltk', 'ten...",10
778270,Software Engineer,Senior Software Engineer (Data Visualisation),"Sydney NSW, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-08-08 05:50:43,True,False,Australia,year,79200.0,NaN,Neara,"['html', 'css', 'sass', 'swift', 'react', 'ang...","{'libraries': ['react'], 'programming': ['html...",8
782374,Software Engineer,"Full Stack Engineer, AIP","Sydney NSW, Australia",via Ai-Jobs.net,Full-time,False,Australia,2023-04-21 06:07:53,False,False,Australia,year,71280.0,NaN,GumGum,"['javascript', 'typescript', 'redis', 'postgre...","{'cloud': ['gcp'], 'databases': ['redis', 'pos...",4

In [68]:
SeniordatascientAUS = Aus_Job[(Aus_Job['job_title_short'] == 'Senior Data Scientist') & (Aus_Job['job_location'] == 'Melbourne VIC, Australia') & (Aus_Job['job_schedule_type'] == 'Full-time')& (Aus_Job['salary_year_avg'].notna())]['salary_year_avg'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [76]:
SeniordatascientAUS[0]

np.float64(157500.0)

In [77]:
Aus_Job.loc[
    (Aus_Job['job_title_short'] == 'Senior Data Scientist') &
    (Aus_Job['job_location'] == 'Melbourne VIC, Australia') &
    (Aus_Job['job_schedule_type'] == 'Full-time') &
    (Aus_Job['salary_year_avg'].isna()),
    'salary_year_avg'
] = SeniordatascientAUS[0]

In [79]:
Aus_Job[(Aus_Job['job_title_short'] == 'Senior Data Scientist') & (Aus_Job['job_location'] == 'Melbourne VIC, Australia') & (Aus_Job['job_schedule_type'] == 'Full-time')& (Aus_Job['salary_year_avg'].isna())]

Empty DataFrame
Columns: [job_title_short, job_title, job_location, job_via, job_schedule_type, job_work_from_home, search_location, job_posted_date, job_no_degree_mention, job_health_insurance, job_country, salary_rate, salary_year_avg, salary_hour_avg, company_name, job_skills, job_type_skills, job_posting_month]
Index: []

In [80]:
Aus_Job.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12955 entries, 90 to 785687
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        12955 non-null  object
 1   job_title              12955 non-null  object
 2   job_location           12954 non-null  object
 3   job_via                12955 non-null  object
 4   job_schedule_type      12849 non-null  object
 5   job_work_from_home     12955 non-null  bool
 6   search_location        12955 non-null  object
 7   job_posted_date        12955 non-null  datetime64[ns]
 8   job_no_degree_mention  12955 non-null  bool
 9   job_health_insurance   12955 non-null  bool
 10  job_country            12955 non-null  object
 11  salary_rate            160 non-null    object
 12  salary_year_avg        106 non-null    float64
 13  salary_hour_avg        81 non-null     float64
 14  company_name           12955 non-null  object
 15  job_skills             11046 non-null  object
 16  job_type_skills        11046 non-null  object
 17  job_posting_month      12955 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(2), int32(1), object(11)
memory usage: 1.6+ MB

In [82]:
aus_jobs = Aus_Job[Aus_Job.salary_year_avg.notna()]

In [88]:
aus_jobs.groupby('job_title_short')['salary_year_avg'].agg(['min','max','median','mean']).sort_values(by = 'median',ascending = False)

                                min       max    median           mean
job_title_short
Senior Data Scientist      157500.0  157500.0  157500.0  157500.000000
Senior Data Engineer        70000.0  155500.0  147500.0  119894.000000
Data Scientist              81000.0  170575.0  139216.0  139755.857143
Software Engineer           33455.0  257500.0  118350.0  140655.833333
Cloud Engineer             110000.0  110000.0  110000.0  110000.000000
Data Analyst                57500.0  135000.0  109500.0  102875.000000
Data Engineer               20000.0  160000.0  106712.5  112479.983333
Machine Learning Engineer   79200.0  185500.0  101029.0  122304.142857
Business Analyst            63000.0  130000.0   70000.0   87666.666667
Senior Data Analyst         30000.0   71280.0   50640.0   50640.000000